<nav class="navbar navbar-expand-lg navbar-dark bg-main">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menu"
            aria-controls="menu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand brand-name" href="/">Legends GG</a>
        <div class="collapse navbar-collapse" id="menu">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">{{ "menu.index" | translate }}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
            </ul>
            <form class="d-flex">
                <a class="social-link" target="_blank" href="https://twitter.com/legendsgg_">
                    <img class="mx-2 social" src="assets/images/svg/twitter-square.svg" width="28" alt="Twitter">
                </a>
                <a class="social-link" target="_blank" href="https://instagram.com/legendsgg_">
                    <img class="mx-2 social" src="assets/images/svg/instagram-square.svg" width="28" alt="Instagram">
                </a>
                <a class="social-link" target="_blank" href="https://www.facebook.com/Legends-GG-100246304984068/">
                    <img class="mx-2 social" src="assets/images/svg/facebook-square.svg" width="28" alt="Facebook">
                </a>
                <button type="button" class="btn btn-outline-main mx-2" data-bs-toggle="modal"
                    data-bs-target="#languageModal">
                    <fa-icon [icon]="faGlobeEurope"></fa-icon> {{ "menu.language" | translate }}
                </button>
                <div class="modal" id="languageModal" tabindex="-1" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content no-radius">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">{{ "menu.modal.title" | translate }}</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-sm">
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="language" id="en"
                                                value="en">
                                            <label class="form-check-label" for="en">
                                                {{ "menu.modal.en" | translate }}
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-sm">
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="language" id="es"
                                                value="es">
                                            <label class="form-check-label" for="es">
                                                {{ "menu.modal.es" | translate }}
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-sm">
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="language" id="de"
                                                value="de">
                                            <label class="form-check-label" for="de">
                                                {{ "menu.modal.de" | translate }}
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-sm">
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="language" id="cs"
                                                value="cs">
                                            <label class="form-check-label" for="cs">
                                                {{ "menu.modal.cs" | translate }}
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-sm">
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="language" id="el"
                                                value="el">
                                            <label class="form-check-label" for="el">
                                                {{ "menu.modal.el" | translate }}
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-sm">
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="language" id="pl"
                                                value="pl">
                                            <label class="form-check-label" for="pl">
                                                {{ "menu.modal.pl" | translate }}
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-sm">
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="language" id="ro"
                                                value="ro">
                                            <label class="form-check-label" for="ro">
                                                {{ "menu.modal.ro" | translate }}
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-sm">
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="language" id="hu"
                                                value="hu">
                                            <label class="form-check-label" for="hu">
                                                {{ "menu.modal.hu" | translate }}
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary no-radius" data-bs-dismiss="modal">
                                    {{ "menu.modal.close" | translate }}
                                </button>
                                <button type="button" id="saveLang" class="btn btn-main no-radius">
                                    {{ "menu.modal.save" | translate }}
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</nav>